<h1>{{dictionary.profile_profile[lan]}}</h1>

<form
    class="x-dialog__form"
    action="{{ url_for('api_update_profile') }}"
    mix-post
    autocomplete="off"
>
    <div>
        <label for="user_email">
            <span>{{dictionary.profile_email[lan]}}</span>
        </label>
        <input
            name="user_email"
            id="user_email"
            type="text"
            mix-check="{{ x.REGEX_EMAIL }}"
            value="{{ user.user_email }}"
        />
    </div>
    <div>
        <label for="user_username">
            <span>{{dictionary.profile_username[lan]}}</span> - {{
            x.USER_USERNAME_MIN }} to {{ x.USER_USERNAME_MAX }} characters
        </label>
        <input
            name="user_username"
            id="user_username"
            type="text"
            mix-check="{{ x.REGEX_USER_USERNAME }}"
            value="{{ user.user_username }}"
        />
    </div>
    <div>
        <label for="user_first_name">
            <span>{{dictionary.profile_firstname[lan]}}</span> - {{
            x.USER_FIRST_NAME_MIN }} to {{ x.USER_FIRST_NAME_MAX }} characters
        </label>
        <input
            name="user_first_name"
            id="user_first_name"
            type="text"
            mix-check="{{ x.REGEX_USER_USERNAME }}"
            value="{{ user.user_first_name }}"
        />
    </div>
    <button
        class="x-dialog__btn"
        mix-default="Update profile"
        mix-await="Updating profile ..."
    >
        {{dictionary.profile_update[lan]}}
    </button>
</form>
