<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='app.css')}}"
        />
        <title>Signup</title>
    </head>
    <body>
        <h1>Signup</h1>

        <h2>{{ message }}</h2>

        <form mix-post action="/signup">
            <input
                name="user_email"
                type="text"
                placeholder="email"
                value="janustest21@gmail.com"
                mix-check="{{x.REGEX_EMAIL}}"
            />

            <div>
                <label for="user_username"
                    >Username ( min {{x.USER_USERNAME_MIN}} - max
                    {{x.USER_USERNAME_MAX}} )</label
                >
                <input
                    name="user_username"
                    mix-check="{{x.REGEX_USER_USERNAME}}"
                    type="text"
                    placeholder="username"
                    value="santi"
                />
            </div>
            <input
                name="user_first_name"
                type="text"
                placeholder="user_first_name"
                value="Santiago"
                mix-check="{{x.REGEX_USER_FIRSTNAME}}"
            />

            <input
                name="user_password"
                type="text"
                placeholder="password"
                value="password"
                mix-check="{{x.REGEX_USER_PASSWORD}}"
            />

            <button>Signup</button>
        </form>
        <script src="{{url_for('static', filename='mixhtml.js')}}"></script>
    </body>
</html>
