<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup</title>
    </head>
    <body>
        <h1>Signup</h1>

        <form action="/signup" method="POST">
            <label for="">min 2 max 20</label>
            <input name="user_name" type="text" placeholder="user name" />

            <input
                name="user_first_name"
                type="text"
                placeholder="user first name"
            />

            <input name="user_email" type="text" placeholder="user email" />
            <input
                name="user_password"
                type="text"
                placeholder="user password"
            />

            <button>Signup</button>
        </form>
    </body>
</html>
