@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
:root {
    /* fonts */
    --body-font: "Inter", sans-serif;
    --heading-font: "Zalando Sans Expanded", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    font-family: var(--body-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: var(--heading-font);
}
body {
    line-height: 1.5;
}
