@import "modules.css";

header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
}
.container {
    padding: 1rem;
}

header {
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 600px) {
            flex-direction: column;
            select {
                place-self: start;
                margin-left: 2rem;
            }
        }
        padding: 1rem;
        background-color: var(--tertiary-color);
        img {
            border-radius: 50%;
            height: 100px;
            width: auto;
            @media (max-width: 600px) {
                display: none;
            }
        }
        div {
            text-align: center;
        }
        select {
            padding: 0.2rem;
        }
    }
    .new-release {
        background-color: var(--highlighter-color-2);
        color: var(--text-color);
        margin-inline: auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        div {
            margin-inline: auto;
        }
        h2 {
            color: var(--text-color);
        }
        img {
            padding: 0.2rem;
            border-radius: 0.3rem;
            background-color: var(--white);
            min-height: 200px;
            display: block !important;
        }
        button {
            background-color: var(--tertiary-color);
            padding: 1rem 5rem;
            border-radius: 1rem;
            color: var(--highlighter-color-2);
            cursor: pointer;
            transition: var(--transition);
            margin-bottom: 1rem;
            &:hover {
                border-radius: 1.2rem 1.5rem;
                background-color: var(--tertiary-color-hover);
            }
        }
    }
    section:has(nav) {
        background-color: var(--brand-color);
        nav {
            width: 100%;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3rem;
                @media (min-width: 600px) {
                    flex-direction: row;
                    gap: 2rem;
                    justify-content: space-around;
                }
                li {
                    width: 100%;
                    text-align: center;
                    @media (min-width: 600px) {
                        width: auto;
                    }
                    &:not(:last-of-type)::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: var(--tertiary-color);
                        margin-top: 0.2rem;
                        @media (min-width: 600px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
main {
    background-color: var(--background-grey);
    .bio {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        padding: 1rem;
        .bio-textbox {
            grid-column: 1 / 9;
            @media (max-width: 992px) {
                grid-column: 1 / 13;
            }
            p {
                margin-bottom: 1rem;
            }
            .quote {
                padding: 1rem 2rem;
                padding-bottom: 3rem;
                border-radius: 1rem;
                font-style: italic;
                background-color: var(--brand-color);
                color: var(--white);
                position: relative;

                span {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    font-style: normal;
                }
            }
        }
        aside.books {
            grid-column: 9 /13;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            > * {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    margin-top: 0.2rem;
                    font-size: 1rem;
                }
                .subtitle {
                    font-weight: 600;
                    font-size: 0.8rem;
                }
                img {
                    object-fit: cover;
                    width: auto;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
            article:is(:last-child, :nth-last-child(2)) {
                @media (max-width: 1063px) {
                    display: none;
                }
            }
        }
    }
    .on-tour,
    .books,
    .contact {
        header {
            background-color: var(--brand-color);
            padding: 1rem;
        }
        .content {
            padding: 1rem;
            .header-image {
                border-radius: 0;
                max-height: 30rem;
                object-fit: cover;
            }
            section {
                padding: 1rem;
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;
                @media (max-width: 1063px) {
                    grid-template-columns: 1fr;
                    gap: 0;
                }
                article {
                    border: 0.15rem solid var(--brand-color);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    min-height: 7.2rem;
                    .date {
                        img {
                            display: inline;
                            height: 1rem;
                            width: 1rem;
                        }
                        p {
                            display: inline;
                        }
                    }
                    .name {
                        color: var(--brand-color);
                        font-weight: 700;
                    }
                    .note {
                        font-weight: 600;
                        color: var(--text-color);
                    }
                    @media (max-width: 1063px) {
                        border: 0;
                        border-bottom: 0.15rem solid var(--brand-color);
                        border-radius: 0;
                        margin-inline: -1rem;
                    }
                }
                article.book {
                    position: relative;
                    min-height: 250px;
                    img {
                        float: right;
                        height: 200px;
                        width: auto;
                        margin-inline: 1rem;
                        margin-top: 1rem;
                        border-radius: 0.2rem;
                        @media (max-width: 600px) {
                            float: none;
                            margin-inline: auto;
                            height: 300px;
                        }
                    }
                    .text {
                        padding: 1rem;
                        > * + * {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
            section.contacts {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                @media (max-width: 1063px) {
                    grid-template-columns: 1fr;
                    gap: 0;
                    .conference-image {
                        display: none;
                    }
                }
                .contacts {
                    grid-column: 1 /3;
                    article {
                        margin-bottom: 1rem;
                        .profile {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            @media (max-width: 600px) {
                                flex-direction: column;
                            }
                            img {
                                height: 8rem;
                                border-radius: 50%;
                                width: auto;
                            }
                            .profile-text {
                                align-self: start;
                                h3 {
                                    margin-bottom: 1rem;
                                }
                                a {
                                    color: var(--brand-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

form {
    margin-top: 2rem;
    border: 1px solid var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    h3 {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--body-font);
        background-color: var(--background-grey);
        position: absolute;
        top: -0.75rem;
        padding-inline: 0.5rem;
    }
    & > * {
        margin-bottom: 0.5rem;
    }
    .formgroup {
        display: flex;
        flex-direction: column;
        &:has(textarea) {
            flex-direction: column;
            label {
                flex-basis: auto;
            }
        }
    }
    input[type="submit"] {
        color: var(--white);
        background-color: var(--tertiary-color);
        padding: 0.3rem 2rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: var(--transition);
        &:hover {
            background-color: var(--tertiary-color-hover);
        }
    }
}

footer {
    padding: 1rem;
    background-color: var(--tertiary-color);
    display: grid;
    color: var(--white);
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .left {
        place-self: start;
        @media (max-width: 600px) {
            place-self: center;
        }
        div {
            margin-bottom: 1rem;
            display: flex;
            align-items: start;
            flex-direction: column;
            @media (max-width: 600px) {
                align-items: center;
                flex-direction: row;
            }
            gap: 0.5rem;
        }
        img {
            height: 2rem;
            width: auto;
            border-radius: 0;
        }
        > * + * {
            margin-bottom: 1rem;
        }
        ul {
            display: flex;
            gap: 0.2rem;
            justify-content: start;
            @media (max-width: 600px) {
                justify-content: center;
            }
            img {
                border-radius: 50%;
            }
        }
    }
    .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right {
        text-align: right;
        @media (max-width: 600px) {
            text-align: center;
            margin-block: 1rem;
        }
        a {
            color: var(--brand-color);
        }
    }
    .copyright {
        grid-column: 2;
        place-self: center;
        color: var(--highlighter-color-2);
        @media (max-width: 600px) {
            grid-column: 1;
        }
    }
}
