@import "modules.css";

header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
}
.container {
    padding: 1rem;
}

header {
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--tertiary-color);
        img {
            border-radius: 50%;
            height: 100px;
            width: auto;
            @media (max-width: 600px) {
                display: none;
            }
        }
        div {
            text-align: center;
        }
        select {
            padding: 0.2rem;
        }
    }
    .new-release {
        background-color: var(--highlighter-color-2);
        color: var(--text-color);
        h2 {
            color: var(--text-color);
        }
        img {
            padding: 0.2rem;
            border-radius: 0.3rem;
            background-color: var(--white);
        }
    }
    section:has(nav) {
        background-color: var(--brand-color);
        nav {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (min-width: 600px) {
                    flex-direction: row;
                    gap: 2rem;
                }
                li {
                    width: 100%;
                    text-align: center;
                    @media (min-width: 600px) {
                        width: auto;
                    }
                    &:not(:last-of-type)::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: var(--tertiary-color);
                        margin-top: 0.2rem;
                        @media (min-width: 600px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
main {
    background-color: var(--background-grey);
    .bio {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        padding: 1rem;
        .bio-textbox {
            grid-column: 1 / 9;
            @media (max-width: 992px) {
                grid-column: 1 / 13;
            }
            p {
                margin-bottom: 1rem;
            }
            .quote {
                padding: 1rem 2rem;
                padding-bottom: 3rem;
                border-radius: 1rem;
                font-style: italic;
                background-color: var(--brand-color);
                color: var(--white);
                position: relative;

                span {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    font-style: normal;
                }
            }
        }
        aside.books {
            grid-column: 9 /13;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            > * {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    margin-top: 0.2rem;
                    font-size: 1rem;
                }
                .subtitle {
                    font-weight: 600;
                    font-size: 0.8rem;
                }
                img {
                    object-fit: cover;
                    width: auto;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
            article:is(:last-child, :nth-last-child(2)) {
                @media (max-width: 1063px) {
                    display: none;
                }
            }
        }
    }
    .on-tour {
        header {
            background-color: var(--brand-color);
            padding: 1rem;
        }
        .content {
            padding: 1rem;
            .header-image {
                border-radius: 0;
                max-height: 30rem;
                object-fit: cover;
            }
            .talks {
                padding: 1rem;
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;
                @media (max-width: 1063px) {
                    grid-template-columns: 1fr;
                    gap: 0;
                }
                article {
                    border: 0.15rem solid var(--brand-color);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    min-height: 7.2rem;
                    .date {
                        img {
                            display: inline;
                            height: 1rem;
                            width: 1rem;
                        }
                        p {
                            display: inline;
                        }
                    }
                    .name {
                        color: var(--brand-color);
                        font-weight: 700;
                    }
                    .note {
                        font-weight: 600;
                        color: var(--text-color);
                    }
                    @media (max-width: 1063px) {
                        border: 0;
                        border-bottom: 0.15rem solid var(--brand-color);
                        border-radius: 0;
                        margin-inline: -1rem;
                    }
                }
            }
        }
    }
}
