@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --brand-color: #b97375;
    --secondary-color: #ceb1be;
    --tertiary-color: #2d2d34;
    --tertiary-color-hover: rgba(0, 0, 0, 0.596);

    --highlighter-color: #e2dcde;
    --highlighter-color-2: #f1e4e8;

    --white: white;
    --text-color: #202020;
    --background-grey: #d3d3d3;

    --body-font: "Open Sans", sans-serif;

    --max-width: 1280px;

    --transition: all 200ms ease;
}
