@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family: var(--text-font);
    min-height: 110vh;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
    position: relative;
}
h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}
img {
    display: block;
    width: 100%;
}
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing);
}
