@import "variables.css";
@import "modules.css";

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
}

li,
a,
button {
    color: var(--text-white);
    text-decoration: none;
    list-style: none;
}
button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--text-white);
    width: 0;
    margin-top: 2px;
    transition: var(--transition);
}
button:hover::after {
    width: 100%;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--text-white);
    nav {
        ul {
            display: flex;
            gap: 1rem;
            @media (max-width: 600px) {
                flex-direction: column;
            }
        }
    }
}
#movielist {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}

.list-item {
    box-shadow: var(--shadow);
    border: 1px solid black;
    border-radius: var(--border-radius);
    overflow: hidden;
    header {
        padding: var(--spacing-md);
        background-color: var(--secondary-color);
    }
    section {
        display: grid;
        grid-template-columns: 200px 1fr;
        img {
            place-self: center;
            max-width: 200px;
        }
        .text-content {
            padding: var(--spacing-md);
            .original-title,
            .release-date {
                font-weight: bold;
                span {
                    font-weight: normal;
                }
            }
            p {
                margin-bottom: var(--spacing);
            }
        }
    }
}

@media (max-width: 600px) {
    .list-item {
        section {
            grid-template-columns: 1fr;
        }
    }
}
